<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554122447716-a5d97f6mpeevglpocms5e07j2cjvu54a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554122447716-a5d97f6mpeevglpocms5e07j2cjvu54a</string>
	<key>API_KEY</key>
	<string>AIzaSyCk5vsNuVsQCcRelI21e1FL7gzwMZoGm4g</string>
	<key>GCM_SENDER_ID</key>
	<string>554122447716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realtech.findmychildren</string>
	<key>PROJECT_ID</key>
	<string>findmychildren</string>
	<key>STORAGE_BUCKET</key>
	<string>findmychildren.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554122447716:ios:cca4203683bff717d74871</string>
</dict>
</plist>